$color-normal: #29be81;
$color-black: #262733;
$color-grey-thick: #5f656b;
$color-grey: #9ca4a7;
$color-grey-thin: #b7babe;
$color-white: #f6f6f6;
$color-error: #eb6565;
$color-warn: #f6a336;
$color-line: #eceeef;

@mixin btn-primary {
  background: linear-gradient(to right, $color-normal, rgb(7, 181, 196));
  text-align: center;
  color: $color-white;
  border-radius: 3px;
  line-height: 30px;
  font-size: 13px;
  cursor: pointer;
}

@mixin btn-primary-disable {
  @include btn-primary;
  background: linear-gradient(to right, rgb(142, 237, 206), rgb(131, 229, 226));
}

@mixin btn-normal {
  background-color: #fff;
  border: 1px solid $color-normal;
  color: $color-normal;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
}
